* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "merrieweather", serif;
}

.all-content {
    background-color: #f7f5f2;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #b2744c;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
}

/* navbar start */
#navbar {
    background-color: #b2744c;
}

#logo img {
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}

.nav-item .nav-link {
    color: black;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.5s;


}

.nav-item .nav-link:hover {
    color: black;
    background: #f7f5f2;
    border-radius: 10px;
}

.navbar form button {
    background: black;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

/* navbar end */






/* home section start  */

#home {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/bc3.png);
    background-size: cover;
    background-position: 88%;
    background-repeat: no-repeat;

}

#home .content {
    margin-left: 56px;
    padding-top: 210px;

}

#home .content h3 {
    font-size: 50px;
    color: white;

}

#home .content p {
    margin-top: 10px;
    color: white;

}

#btn {
    width: 150px;
    height: 36px;

    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: 0.5s ease;
    font-weight: bold;
    cursor: pointer;

}

#btn:hover {
    background-color: #b2744c;
    color: white;
}

/* home section end  */



/* 
about start */
.about {
    width: 100%;
    height: 100vh;
}

.about .container {
    padding-top: 30px;
}

.heading {
    font-size: 34px;
    color: black;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 50px;
}

.heading span {

    color: #b2744c;

}

.about .card img {
    border-radius: 10px;

}

.about .card {
    border-radius: 10px;

}

#about-btn {
    width: 200px;
    height: 35px;
    background: transparent;
    color: #b2744c;
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

#about-btn:hover {
    background-color: #b2744c;
    color: white;
}

@media screen and(max-width=992px) {
    #about p {
        font-size: 8px;
    }

}

@media screen and (max-width=772px) {
    #about p {
        font-size: 15px;
    }

    .about {
        height: 120vh;
    }

}


/* 
about end */



/* top cards starts */
.top-cards {
    width: 100%;
    height: 60vh;
    background-color: #f7f5f2;

}

.top-cards .heading2 {
    /* margin-bottom: 30px; */
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 34px;

}

.top-cards .heading2 span {
    color: #b2744c;
}

.top-cards .container {
    margin-top: 30px;
}

.top-cards .card img {
    border-radius: 10px;

}

.top-cards .card {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.top-cards .card :hover {
    transform: translateY(-10px);
}

/* top cards end*/



/* menu start  */
#menu {

    width: 100%;
    margin-top: 60px;
}

.heading3 {
    font-size: 34px;
    color: #b2744c;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
    padding: 10px;
    margin-bottom: 20px;
}

.container2 {
    margin-top: 50px;

}

.star i {
    color: #b2744c;
}

#menu h3 {
    color: #b2744c;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    margin: 25px;
}

#menu .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
}

#menu p {
    font-size: 15px;
    color: #b2744c;
    padding-top: 10px;
}

#menu p span {
    float: right;
    cursor: pointer;
}

/* menu end */








/* product start  */



#product {

    width: 100%;
    margin-top: 60px;
}

.heading4 {
    font-size: 34px;
    color: #b2744c;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
    padding: 10px;
    margin-bottom: 20px;
}

.container4 {
    margin-top: 50px;

}

.card .card-body {
    color: #b2744c;
}

.product .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
    transition: 0.5s;

}

#product p {
    font-size: 15px;
    color: #b2744c;
    padding-top: 10px;
}

.product .card:hover {
    transform: translatey(-10px);
}

#product p span {
    float: right;
    cursor: pointer;
}

.product .card img {
    border-radius: 10px;

}

.product .card {
    border-radius: 10px;

}

/* product end */





/* our gallery start */
#gallary {
    width: 100%;
    height: 100hv;
}

.container {
    text-align: center;
    margin-top: 60px;
    padding-top: 10px;
}

.container h1 {
    color: black;
    font-weight: bold;
}

.container span {
    color: #b2744c;
    font-weight: bold;
}

.container .card:hover {
    transform: translatey(-10px);
    cursor: pointer;
}


.container .card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
    transition: 0.5s;
    border-radius: 10px;
}

.container .card img {
    border-radius: 10px;
}

/* our gallery end */






/* contact start  */


#contact {
    width: 100%;

    /* margin: auto;
    border-radius: 10px; */
    height: 100vh;
    padding-top: 70px;
}

#contact .container {
    height: 80vh;
    width: 100%;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;

}

.heading6 {
    margin-top: 70px;
    font-weight: bold;
    font-size: 30px;

}

.heading6 span {
    color: #b2744c;
}

#contact p {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

#contact input {
    width: 360px;
    border-bottom: 1px solid #b2744c;
    border: none;
}

#col {
    background-color: black;
    /* color: white;
    border-radius: 10px; */
    /* float: left; */
    width: 40%;
    height: 56vh;
    margin-top: 78px;
}

/* #col h1{
    color: white;
} */

#contact-btn {
    width: 200px;
    height: 36px;
    background-color: #b2744c;
    color: white;
    font-weight: bold;
    padding: 5px 45px;
    border: none;
    margin-top: 30px;
    cursor: pointer;

}

#contact h1 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

#contact #col p {
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}

@media screen and (max-width:766px) {
    #contact .container {
        background-color: white;
    }

    #col {
        width: 100%;
        background-color: #b2744c;

    }

    #contact {
        height: 150vh;
    }

}

@media screen and (max-width:400px) {
    #contact input {
        width: 250px;
    }

}



/* contact end  */





/* blogs start  */
#blogs {
    width: 100%;

}

#blogs .heading7 {
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

#blogs .heading7 span {
    color: #b2744c;
}

#blogs .container {
    margin-top: 60px;
}

#blogs h5 {
    color: #b2744c;
}


#blog-btn{
    width: 200px;
    height: 36px;
    border: none;
    color: white;
    background: #b2744c ;
    cursor: pointer;
}
/* blogs end */






/* footer start  */
#footer{
    width:100%;
    background-color: #b2744c;
    margin-top: 50px;
}

.footer-logo img{
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

#footer .socail-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}

.credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
#credits a span{
    color: black;
}

.copyright span{
    color:black;
}





/* footer end  */

html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    height: 50px;
    bottom: 40px;
    right:50px;
    text-align: center;
    line-height:50px
}